@font-face {
    font-family: 'Satoshi';
    src: url('../font/Satoshi-Regular.woff') format('woff'),
        url('../font/Satoshi-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@media all and (max-width:575px) {
    a{
        font-size: 12px;
    }
}
:root {
    --text-font: 'Satoshi', sans-serif;
}
.custom-spacing{
    height: 220px;
}
.back {
    background-image: url("../images/1.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: var(--text-font);
    height: 100vh;
}
span:hover{
    color: rgb(128, 128, 128);
    cursor: pointer;
}
.a-hover{
    cursor: auto;
}